@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .no-scroll-bounce {
        overscroll-behavior: none;
        touch-action: none;
    }
}

.snap-mandatory {
    scroll-snap-type: y mandatory;
}

.snap-start {
    scroll-snap-align: start;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noise-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('https://grainy-gradients.vercel.app/noise.svg');
    opacity: 0.03;
    pointer-events: none;
}

.bg-museum-texture {
    background-image: url('/assets/museum_home_texture.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.scroll-lock-section {
    scroll-snap-align: start;
    height: 100vh;
}


/* Optional: disables snap on mobile if you want freedom */

@media (max-width: 768px) {
    .mobile-snap-none {
        scroll-snap-align: none !important;
    }
}

html,
body {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}